.no-break  %table.table.table-bordered    %tr      %td          <strong>CONTRACT TERMS:</strong> 1) Contract may be cancelled, in full or in part, at any time by Company or Agency for any reason by giving sixty (60) days advance written notice without penalty, 2) No direct competitors will be placed during the same digital spot contracted herein, 3) Agency will pay Company within thirty (30) days after the date of invoice 4) Contract is subject to the attached Terms and Conditions. If any of the above or attached "Terms and Conditions" is in conflict with the terms under "Special Instructions" above, the "Special Instructions" supersede all other terms.  
  %table.table.table-bordered.table-fixed
    %tr.highlight
      %th Agency/Media Buyer:
      %th Company: On Campus Media, Inc.
    %tr
      %td Approved by:
      %td Approved by:
    %tr
      %td Print Name:
      %td Print Name:
    %tr
      %td Title: 
      %td Title: 
    %tr
      %td Date:
      %td Date: