%table.table.table-bordered.table-hover.table-condensed
  %tr.highlight
    %th Campus No.
    %th Campus Name
    %th Campus Type
    %th Address
    %th City
    %th ST
    %th DMA
    %th DMA Rank
    %th No. of TVs
    %th Students Enrolled
    %th Impressions
    %th Cost Per Campus
  = render partial: 'ratecards/school_for_quote'

    