%table.table
  %tr
    %th Date
    %th ID
    %th # of Stores
    %th Prepared By
    %th Presented To
    %th Spot Length
    %th CPM
    %th Owned By
    - if user_signed_in? && current_user.internal?
      %th Remove
  = render @ratecards