%table.table
  %tr
    %th ID
    %th Date
    %th # of Stores
    %th Prepared By
    %th Presented To
    %th Spot Length
    %th CPM
    %th Owned By
    - if can? :destroy, Ratecard
      %th Remove
  = render @ratecards