%h3 Import complete
%h4 Newly Created Schools
.well.auto-over
  = render partial: 'schools/full_school_record', locals: {schools: @new_schools}

%h4 Updated Schools
.well.auto-over.limit-height
  = render partial: 'changed_attrs', locals: {schools: @updated_schools}