%h2 Edit Import Files
.well.lead
  %p.text-info
    Upload one, many, or all files listed here.  
  %p.text-info
    Any existing Schools that are referenced will be updated.
  %p.text-info
    New Schools are only created by uploading a file in the Schools section.
  
= render 'form'
