.hero-unit
  %h2.text-center Total Cost Equation
  
  .lead.text-center
    Transactions for period(flight_date, end_date) *
    %strong
      = @equation.impression_factor 
    %br
    +
    %br
    ( (Number of screens - 1  * 
    %strong
      = @equation.screen_weight_multiplier
    )  * Transactions for period(flight_date, end_date) ) 
    %br
    * 
    %br
    spot_rate
    %br
      === <strong>Total Impressions</strong>
    
    %br
    %br
    %br
    .text-center
      %strong
        Total Impressions 
      * CPM * spot_length
    %hr.black-line
    %br
    .text-center
      %strong
        = @equation.dwell_time
      * 1000
      
        
      
        
    
    
    