.hero-unit
  %h2.text-center Total Cost Equation
  
  .lead
    Transactions for period(flight_date, end_date) *
    %strong
      = @equation.impression_factor 
    +
    %br
    ( (Number of screens - 1  * 
    %strong
      = @equation.screen_weight_multiplier
    )  * Transactions for period(flight_date, end_date) ) * 
    %br
    Spot length multiplier  *  spot_rate  = 
    %strong
      Total Impressions
    %br
    %br
    %br
    .text-center
      %strong
        Total Impressions 
      * CPM
    = "------------------------------------------------------------------------------------------------------"
    %br
    .text-center
      %strong
        = @equation.dwell_time
      * 1000
      
        
      
        
    
    
    