.accordian-group
  .accordian-heading
    %h3= link_to 'Ambassador', '#amb', { data: {toggle: "collapse", parent: "#forms"}}
  #amb.accordian-body.collapse

    %ul.nav.nav-pills
      %li.active
        %a#current_amb{:href=>"#current", :data => {:toggle=> "tab"}}
          Current Ambassadors
      %li
        %a#existing_amb{:href=>"#existing", :data => {:toggle=> "tab"}}
          Add from Existing Ambassadors
      %li
        =link_to "Create new Ambassador", new_ambassador_path(school_id: @school.id)
          
      
    
    .tab-content
      .tab-pane.active#current
        = f.association :ambassadors, collection: @my_ambassadors, as: :check_boxes 
        
      .tab-pane#existing
        = f.association :ambassadors, collection: @not_my_ambassadors, as: :check_boxes
      
:javascript

  $('#new_amb').click(function() {
    $('#existing.school_ambassadors input').attr('checked', false);
  });

  $('#existing_amb').click(function() {
    $('#new input').val("");
  });
  
