%h3 Filter by State
= render 'filters/states_list'

%h3 Filter by Sports
= render 'filters/sports_list'

%h3 Filter by Demographics
= render 'filters/demographics'



%h3 Filter by School Count
#school-count-range
%input#filtered-pop{type: "text"}


= gmaps4rails(@json)
