/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.slider
 *= require dataTables/jquery.dataTables.bootstrap
 *= require_tree .
 */



.logo-top {
  height:50px;
}

.container {
  width: 1200px;
}

@media print {
  .navbar {
    display:none;
  }
  .table {
    width: 9.5in !important;
  }
  .always-break { 
    page-break-after:always; 
  }
  
  .no-break:before { 
    clear:both; 
  }
  .no-break{ 
    page-break-inside: avoid;
    /*http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21*/
  }
}