// Place all the styles related to the ratecards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header {
  height:80px;
  margin-bottom:70px;
}

@media print {
  .navbar {
    display:none;
  }
}

#logo {
  float:left;
  width:33%;
}

#center-info{
  float:left;
  width:33%;
}

#right-info {
  float:left;
  width:33%;
}

.half-width {
  width:49%;
  float:left;
}

.accordian-heading {
  padding: 10px;
  margin-bottom:10px;
  background:#f1f1f1;
}

.accordian-group {
  margin-bottom:10px;
}
