// Place all the styles related to the ratecards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


header {
  height:80px;
  margin-bottom:70px;
}

@media print {
  .navbar {
    display:none;
  }
  .table {
    width: 9.5in !important;
  }
  .always-break { 
    page-break-after:always; 
  }
  
  .no-break:before { 
    clear:both; 
  }
  .no-break{ 
    page-break-inside: avoid;
    /*http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21*/
  }
}

#logo {
  float:left;
  width:33%;
}

#center-info{
  float:left;
  width:33%;
}

#right-info {
  float:right;
  width:33%;
}

#right-info img {
  float: right;
}

.half-width {
  width:50%;
  word-wrap: break-word;

}

.table-left {
  float:left;
}

.table-right {
  float:right;
}

.accordian-heading {
  padding: 10px;
  margin-bottom:10px;
  background:#f1f1f1;
}

.accordian-group {
  margin-bottom:10px;
}

.table tbody tr.success th {
  background-color: #dff0d8;
}

.table tbody tr.info th {
  background-color: #d9edf7;
}

.table tbody tr.warning th {
  background-color: #fcf8e3;
}

.table tbody tr.highlight th {
  background-color: #F2742B;
  color: white;
}

.table-fixed {
  table-layout: fixed; 
}

.dataTables_info {
  display: none;
}
.dataTables_filter {
  display: none;
}
.always-break { 
  page-break-after:always; 
}

.no-break:before { 
  clear:both; 
}
.no-break{ 
  page-break-inside: avoid;
  /*http://code.google.com/p/wkhtmltopdf/issues/detail?id=9#c21*/
}