// Place all the styles related to the Schools controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#school-count-range {
  width:300px;
}

#conference-list {
  height:300px;
  overflow:auto;
}

#state-list ul, #conference-list ul, .school-list {
    list-style-type: none;
  }
  
#state-list  li, #conference-list li {
    display:inline-block;
    border:1px solid #c1c1c1;
    padding: 3px;
    margin:3px;
  }
  
  
.range {
  width:300px;
}

#clear {
  clear:both;
}

#school-list-holder {
  float:left;
  height:412px;
  width:34%;
  border: 1px solid #ccc;
}


.school-list {
  height:350px;
  overflow:auto;
}

.gmaps4rails_map {
  width:100%;
}
.map_container {
  width:65%;
  max-width:800px;
  float:left;
}