.accordian-group
  .accordian-heading
    %h3= link_to 'Filter by Nearby Locations', '#location', { data: {toggle: "collapse", parent: "#filters"}}
    
  #location.accordian-body.collapse
    
    = text_field_tag 'location-filter', nil, :placeholder => 'Enter the name of a place', id: 'location-filter'
    = select_tag 'location-radius', options_for_select((1..50).map {|num| [pluralize(num, 'mile'), num*1609]})
    = link_to 'Search',  '#location-search', id: 'location-search-button', class: "btn btn-primary"
  .clearfix