.accordian-group
  .accordian-heading
    %h3= link_to 'Filter by Store Information', '#store-info', { data: {toggle: "collapse", parent: "#filters"}}
  .store-info-filter-list
  #store-info.accordian-body.collapse
    #store-info-list
      = render 'filters/school_type'
      = render 'filters/coffee_stations'
      
